{% extends 'pdfreaderApp/base.html' %}

{% block contenu %}
    <main id="update_user_main" class="hasForm">
        <div class="container">
            {% include 'pdfreaderApp/components/user_nav.html' %}
            <p><a class="link" href={% url 'user_details' %}><i class="fa-solid fa-arrow-left"></i> Retourner à mes infos</a></p>
            <div class="cubes_parent">
                <form id="update_user_form" class="cube" action="{% url 'update_user' %}" method="post">
                    {% csrf_token %}
                    <h2>Modifier mes informations personnelles</h2>
                    <ul>
                        <li>
                            <input class="cube" type="text" name="username" value="{{ user.username }}" required>
                            <label for="username">Pseudo</label>
                        </li>
                        <li>
                            <input class="cube" type="text" name="last_name" value="{{ user.last_name }}" required>
                            <label for="last_name">Nom</label>
                        </li>
                        <li>
                            <input class="cube" type="text" name="first_name" value="{{ user.first_name }}" required>
                            <label for="first_name">Prénom</label>
                        </li>
                        <li class="submit">
                            <button class="cube" type="submit">Valider mes changements</button>
                        </li>
                    </ul>
                </form>
                {% include 'pdfreaderApp/components/cubes.html' with count='012345'|make_list %}
            </div>
        </div>
    </main>
{% endblock %}