$first_color: #1f1f1f;
$first_color_light: #796651;
$second_color: #ccb399;
$second_color_light: #DFD7CF;

$background: #DFD7CF;

$dark_color: #1f1f1f;
$dark_lighter: #1f1f1f88;

$white: #fff;
$white_lighter: #fffa;
$white_light: #fff5;
$white_very_light: #ffffff38;
$white_super_light: #fff2;


$link_color: #8ac1ff;
$link_color_hover: #4b9fff;

$cancel_color: #ca2f2f;
$cancel_color_light: #f35d5d;
$cancel_color_giga_light: #ffaaaa;

$error_color: red;
$error_bg_color: #c27474;

$success_color: #00c918;
$success_bg_color: #74c27b;

$info_color: $link_color;
$message_info_color: $link_color_hover;

$waiting_color: darkorange;
$waiting_bg_color: #ffdc9c;
$warning_color: #b60000;